@model RoleViewModel

<div class="card shadow">

    <div class="card-header">
        Create Role
    </div>

    <div class="card-body">

        <form asp-action="Create">

            <div class="mb-3">

                <label>Title</label>

                <input asp-for="Title"
                       class="form-control" />

            </div>

            <div class="mb-3">

                <label>Description</label>

                <textarea asp-for="Description"
                          class="form-control"></textarea>

            </div>

            <button class="btn btn-success">
                Save
            </button>

        </form>

    </div>

</div>